<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.genymobile.gnirehtet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@null"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="com.genymobile.gnirehtet.GnirehtetControlService"
            android:exported="true"
            android:permission="android.permission.WRITE_SECURE_SETTINGS">
            <intent-filter>
                <action android:name="com.genymobile.gnirehtet.START" />
                <action android:name="com.genymobile.gnirehtet.STOP" />
            </intent-filter>
        </service>
        <service
            android:name="com.genymobile.gnirehtet.GnirehtetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.genymobile.gnirehtet.AuthorizationActivity"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>